<div id='page-wrapper'>
<h1 class='page-header'>グループ用メールアドレス登録</h1>

<%= render 'form' %>

<div class='row top-buffer'>
<div class='col-lg-4'>
<%= link_to 'Back', destemails_path %>
</div>
</div>
</div>
