<div id='page-wrapper'>
<p id="notice"><%= notice %></p>

<div class='row'>
	<div class='col-lg-4'>
<p>
  <strong>Email:</strong>
  <%= @destemail.email %>
</p>

<%= link_to 'Edit', edit_destemail_path(@destemail) %> |
<%= link_to 'Back', destemails_path %>
</div>
</div>
</div>
