<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p>
      これはテストメールです<br>
      <br>
      各位<br />
      <br />
      <%= simple_format(@comment) %><br />
      <br />
      <%= @url %><br />
      <br />
      投稿者: <%= @user %>
    </p>
  </body>
</html>