<div id='page-wrapper'>
  <div class='row'>
    <div class='col-lg-12'>
      <p class="text-info"><%= notice %></p>
      <p class="text-danger"><%= alert %></p>
      
      <h1 class='page-header'>トップページ</h1>
    </div>
      
    <div class='col-lg-6'>
      <div class="panel panel-info">
        <div class="panel-heading">
          お知らせ
        </div>
        <div class="panel-body">
          <p>ただいまテスト運用中です</p>
        </div>
      </div>
    </div>
      
  </div>
</div>
