<div id='page-wrapper'>
  <h1 class='page-header'>新規依頼先グループ作成</h1>

  <%= render 'form' %>

  <div class='row top-buffer'>
    <div class='col-lg-4'>
      <%= link_to '戻る', destgroups_path %>
    </div>
  </div>
</div>