<div id='page-wrapper'>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @destgroup.name %>
</p>

<%= link_to 'Edit', edit_destgroup_path(@destgroup) %> |
<%= link_to 'Back', destgroups_path %>
</div>
