<div id='page-wrapper'>
  <h1 class='page-header'>顧客番号登録</h1>
  
  <%= render 'form' %>

  <div class='row top-buffer'>
    <div class='col-lg-4'>
      <%= link_to '戻る', customernumbers_path %>
    </div>
  </div>
</div>
