<p>こんにちは <%= @resource.email %> さん</p>

<p>パスワードをリセットしたい場合は下記のリンクにアクセスしてください</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりがない場合は無視してください</p>
<p>上記リンクにアクセスしなければ、パスワードは変更されません</p>
