<p>Hello <%= @resource.email %>!</p>
<p>こんにちは <%= @resource.email %> さん</p>

<p>あなたのアカウントはロックされました</p>

<p>下記のリンクにアクセスしてロックを解除してください</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
